# Data Analysis With Pandas

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('iris.csv')  
# data = pd.read_csv('iris.csv', index_col = '1.4') # categorical values can't be placed as index values
# data

In [2]:
series = pd.Series(dtype = 'float32')  # passing a datatype to avoid DeprecationWarning that will occur the other way
series

Series([], dtype: float32)

In [3]:
series = pd.Series([1,2,3.3], index = ['one', 'two', 'three'])  # upcasting
series

one      1.0
two      2.0
three    3.3
dtype: float64

In [4]:
# Dictionary Input
series = pd.Series({'a': '1', 'b' : '2', 'c': 3}, index = [1, 2, 3]) 
series
 # adding an index will make dictionary values to nan
# So actually the leys are the indices and the values are the resulting values of those indices

1    NaN
2    NaN
3    NaN
dtype: object

# DataFrame

In [5]:
pd.DataFrame([[1,2], [3, 4]], columns = ['one', 'two'])

   one  two
0    1    2
1    3    4

In [6]:
# Upcasting
upcast = pd.DataFrame([[1,2], [3, 4.4]], columns = ['one', 'two'])
upcast.dtypes

one      int64
two    float64
dtype: object

In [7]:
# Appending 
arr = [5, 6]
upcast.append(arr)

C:\Users\HP 840 G4\AppData\Local\Temp\ipykernel_14740\3584325737.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  upcast.append(arr)

   one  two    0
0  1.0  2.0  NaN
1  3.0  4.4  NaN
0  NaN  NaN  5.0
1  NaN  NaN  6.0

In [8]:
# Dropping Data
data.drop(axis = 1, index=1)  # cannot specify columns and labels at a time
data.drop(labels = 'Iris-setosa', axis = 1)

     5.1  3.5  1.4  0.2
0    4.9  3.0  1.4  0.2
1    4.7  3.2  1.3  0.2
2    4.6  3.1  1.5  0.2
3    5.0  3.6  1.4  0.2
4    5.4  3.9  1.7  0.4
..   ...  ...  ...  ...
144  6.7  3.0  5.2  2.3
145  6.3  2.5  5.0  1.9
146  6.5  3.0  5.2  2.0
147  6.2  3.4  5.4  2.3
148  5.9  3.0  5.1  1.8

[149 rows x 4 columns]

# COMBINING

In [9]:
#using concat operator inplace of .append bacause it may be removed from pandas in later versions
data1 = data[['5.1', '1.4']]
data2 = data[['1.4', '5.1']]
combo = pd.concat([data1, data2], axis = 1)
combo

     5.1  1.4  1.4  5.1
0    4.9  1.4  1.4  4.9
1    4.7  1.3  1.3  4.7
2    4.6  1.5  1.5  4.6
3    5.0  1.4  1.4  5.0
4    5.4  1.7  1.7  5.4
..   ...  ...  ...  ...
144  6.7  5.2  5.2  6.7
145  6.3  5.0  5.0  6.3
146  6.5  5.2  5.2  6.5
147  6.2  5.4  5.4  6.2
148  5.9  5.1  5.1  5.9

[149 rows x 4 columns]

In [10]:
# Merge --> only combines the common columns between two datasets
data1 = pd.DataFrame(data1)
data2 = pd.DataFrame(data2)
pd.merge(data1, data2)

     5.1  1.4
0    4.9  1.4
1    4.7  1.3
2    4.6  1.5
3    5.0  1.4
4    5.0  1.4
..   ...  ...
204  6.7  5.2
205  6.3  5.0
206  6.5  5.2
207  6.2  5.4
208  5.9  5.1

[209 rows x 2 columns]

# INDEXING

In [11]:
# Direct Indexing
x = data.copy()
x = pd.DataFrame(x.head(), index=['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'])

In [12]:
x['5.1':'3.5']

     5.1  3.5  1.4  0.2 Iris-setosa
5.1  NaN  NaN  NaN  NaN         NaN
3.5  NaN  NaN  NaN  NaN         NaN

In [13]:
# Other Indexing
x.iloc[[0, 2]]  # returns single row as a series
x.loc[['5.1']]  # returns as a dataframe

     5.1  3.5  1.4  0.2 Iris-setosa
5.1  NaN  NaN  NaN  NaN         NaN

In [14]:
x.loc[['5.1', '1.4'], '5.1']

5.1   NaN
1.4   NaN
Name: 5.1, dtype: float64

# FILE I/O

In [15]:
# Reading Data
# pd.read_csv('filename.csv', index_col = 0/1)
# pd.read_excel('filename.xlsx', sheet_name = 'label/number' index_col = 0/1)
# pd.read_json('filename.json', orient = 'index')

In [16]:
# Writing to Files
# data.to_csv('iris.csv', index = False)
# data.to_excel('dataexcel.xlsx', ) -- this will just write to one spreasheet -- to write to multiple ones -> use ExcelWriter
# with pd.ExcelWriter('data.xlsx') as writer
# data.to_excel(writer, 'dataexcel.xlsx', )
# data.to_json('data.json', orinet= 'index')

# GROUPING

In [26]:
groups = data.groupby('5.1')
no5 = groups.filter(lambda x: x.name > 5.0)
print(no5)

     5.1  3.5  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [37]:
# Multiple Columns
mul_groups = data.groupby(['5.1', '3.5'])
for name in mul_groups:
    print(name)
    
print(mul_groups.sum())

((4.3, 3.0),     5.1  3.5  1.4  0.2  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa)
((4.4, 2.9),    5.1  3.5  1.4  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa)
((4.4, 3.0),     5.1  3.5  1.4  0.2  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa)
((4.4, 3.2),     5.1  3.5  1.4  0.2  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa)
((4.5, 2.3),     5.1  3.5  1.4  0.2  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa)
((4.6, 3.1),    5.1  3.5  1.4  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa)
((4.6, 3.2),     5.1  3.5  1.4  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa)
((4.6, 3.4),    5.1  3.5  1.4  0.2  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa)
((4.6, 3.6),     5.1  3.5  1.4  0.2  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa)
((4.7, 3.2),     5.1  3.5  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa)
((4.8, 3.0),     5.1  3.5  1.4  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa)
((4.8, 3.1),     5.1  3.5  1.4  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa)
((4.8, 3.4),     5.1  3.5  1.4  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa)
((4.9, 2.4),     5.1  3.5  1.4  0.2      Iris-setosa
56  4.9  2.4  3.3  1.0  Iris-versicolor)
((4.9, 2.5),      5.1  3.5  1.4  0.2     Iris-setosa
105  4.9  2.5  4.5  1.7  Iris-virginica)
((4.9, 3.0),    5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa)
((4.9, 3.1),     5.1  3.5  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa)
((5.0, 2.0),     5.1  3.5  1.4  0.2      Iris-setosa
59  5.0  2.0  3.5  1.0  Iris-versicolor)
((5.0, 2.3),     5.1  3.5  1.4  0.2      Iris-setosa
92  5.0  2.3  3.3  1.0  Iris-versicolor)
((5.0, 3.0),     5.1  3.5  1.4  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa)
((5.0, 3.2),     5.1  3.5  1.4  0.2  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa)
((5.0, 3.3),     5.1  3.5  1.4  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa)
((5.0, 3.4),     5.1  3.5  1.4  0.2  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa)
((5.0, 3.5),     5.1  3.5  1.4  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa)
((5.0, 3.6),    5.1  3.5  1.4  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa)
((5.1, 2.5),     5.1  3.5  1.4  0.2      Iris-setosa
97  5.1  2.5  3.0  1.1  Iris-versicolor)
((5.1, 3.3),     5.1  3.5  1.4  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa)
((5.1, 3.4),     5.1  3.5  1.4  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa)
((5.1, 3.5),     5.1  3.5  1.4  0.2  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa)
((5.1, 3.7),     5.1  3.5  1.4  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa)
((5.1, 3.8),     5.1  3.5  1.4  0.2  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa)
((5.2, 2.7),     5.1  3.5  1.4  0.2      Iris-setosa
58  5.2  2.7  3.9  1.4  Iris-versicolor)
((5.2, 3.4),     5.1  3.5  1.4  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa)
((5.2, 3.5),     5.1  3.5  1.4  0.2  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa)
((5.2, 4.1),     5.1  3.5  1.4  0.2  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa)
((5.3, 3.7),     5.1  3.5  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa)
((5.4, 3.0),     5.1  3.5  1.4  0.2      Iris-setosa
83  5.4  3.0  4.5  1.5  Iris-versicolor)
((5.4, 3.4),     5.1  3.5  1.4  0.2  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa)
((5.4, 3.7),    5.1  3.5  1.4  0.2  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa)
((5.4, 3.9),     5.1  3.5  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa)
((5.5, 2.3),     5.1  3.5  1.4  0.2      Iris-setosa
52  5.5  2.3  4.0  1.3  Iris-versicolor)
((5.5, 2.4),     5.1  3.5  1.4  0.2      Iris-setosa
79  5.5  2.4  3.8  1.1  Iris-versicolor
80  5.5  2.4  3.7  1.0  Iris-versicolor)
((5.5, 2.5),     5.1  3.5  1.4  0.2      Iris-setosa
88  5.5  2.5  4.0  1.3  Iris-versicolor)
((5.5, 2.6),     5.1  3.5  1.4  0.2      Iris-setosa
89  5.5  2.6  4.4  1.2  Iris-versicolor)
((5.5, 3.5),     5.1  3.5  1.4  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa)
((5.5, 4.2),     5.1  3.5  1.4  0.2  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa)
((5.6, 2.5),     5.1  3.5  1.4  0.2      Iris-setosa
68  5.6  2.5  3.9  1.1  Iris-versicolor)
((5.6, 2.7),     5.1  3.5  1.4  0.2      Iris-setosa
93  5.6  2.7  4.2  1.3  Iris-versicolor)
((5.6, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
120  5.6  2.8  4.9  2.0  Iris-virginica)
((5.6, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
63  5.6  2.9  3.6  1.3  Iris-versicolor)
((5.6, 3.0),     5.1  3.5  1.4  0.2      Iris-setosa
65  5.6  3.0  4.5  1.5  Iris-versicolor
87  5.6  3.0  4.1  1.3  Iris-versicolor)
((5.7, 2.5),      5.1  3.5  1.4  0.2     Iris-setosa
112  5.7  2.5  5.0  2.0  Iris-virginica)
((5.7, 2.6),     5.1  3.5  1.4  0.2      Iris-setosa
78  5.7  2.6  3.5  1.0  Iris-versicolor)
((5.7, 2.8),     5.1  3.5  1.4  0.2      Iris-setosa
54  5.7  2.8  4.5  1.3  Iris-versicolor
98  5.7  2.8  4.1  1.3  Iris-versicolor)
((5.7, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
95  5.7  2.9  4.2  1.3  Iris-versicolor)
((5.7, 3.0),     5.1  3.5  1.4  0.2      Iris-setosa
94  5.7  3.0  4.2  1.2  Iris-versicolor)
((5.7, 3.8),     5.1  3.5  1.4  0.2  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa)
((5.7, 4.4),     5.1  3.5  1.4  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa)
((5.8, 2.6),     5.1  3.5  1.4  0.2      Iris-setosa
91  5.8  2.6  4.0  1.2  Iris-versicolor)
((5.8, 2.7),      5.1  3.5  1.4  0.2      Iris-setosa
66   5.8  2.7  4.1  1.0  Iris-versicolor
81   5.8  2.7  3.9  1.2  Iris-versicolor
100  5.8  2.7  5.1  1.9   Iris-virginica
141  5.8  2.7  5.1  1.9   Iris-virginica)
((5.8, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
113  5.8  2.8  5.1  2.4  Iris-virginica)
((5.8, 4.0),     5.1  3.5  1.4  0.2  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa)
((5.9, 3.0),      5.1  3.5  1.4  0.2      Iris-setosa
60   5.9  3.0  4.2  1.5  Iris-versicolor
148  5.9  3.0  5.1  1.8   Iris-virginica)
((5.9, 3.2),     5.1  3.5  1.4  0.2      Iris-setosa
69  5.9  3.2  4.8  1.8  Iris-versicolor)
((6.0, 2.2),      5.1  3.5  1.4  0.2      Iris-setosa
61   6.0  2.2  4.0  1.0  Iris-versicolor
118  6.0  2.2  5.0  1.5   Iris-virginica)
((6.0, 2.7),     5.1  3.5  1.4  0.2      Iris-setosa
82  6.0  2.7  5.1  1.6  Iris-versicolor)
((6.0, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
77  6.0  2.9  4.5  1.5  Iris-versicolor)
((6.0, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
137  6.0  3.0  4.8  1.8  Iris-virginica)
((6.0, 3.4),     5.1  3.5  1.4  0.2      Iris-setosa
84  6.0  3.4  4.5  1.6  Iris-versicolor)
((6.1, 2.6),      5.1  3.5  1.4  0.2     Iris-setosa
133  6.1  2.6  5.6  1.4  Iris-virginica)
((6.1, 2.8),     5.1  3.5  1.4  0.2      Iris-setosa
70  6.1  2.8  4.0  1.3  Iris-versicolor
72  6.1  2.8  4.7  1.2  Iris-versicolor)
((6.1, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
62  6.1  2.9  4.7  1.4  Iris-versicolor)
((6.1, 3.0),      5.1  3.5  1.4  0.2      Iris-setosa
90   6.1  3.0  4.6  1.4  Iris-versicolor
126  6.1  3.0  4.9  1.8   Iris-virginica)
((6.2, 2.2),     5.1  3.5  1.4  0.2      Iris-setosa
67  6.2  2.2  4.5  1.5  Iris-versicolor)
((6.2, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
125  6.2  2.8  4.8  1.8  Iris-virginica)
((6.2, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
96  6.2  2.9  4.3  1.3  Iris-versicolor)
((6.2, 3.4),      5.1  3.5  1.4  0.2     Iris-setosa
147  6.2  3.4  5.4  2.3  Iris-virginica)
((6.3, 2.3),     5.1  3.5  1.4  0.2      Iris-setosa
86  6.3  2.3  4.4  1.3  Iris-versicolor)
((6.3, 2.5),      5.1  3.5  1.4  0.2      Iris-setosa
71   6.3  2.5  4.9  1.5  Iris-versicolor
145  6.3  2.5  5.0  1.9   Iris-virginica)
((6.3, 2.7),      5.1  3.5  1.4  0.2     Iris-setosa
122  6.3  2.7  4.9  1.8  Iris-virginica)
((6.3, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
132  6.3  2.8  5.1  1.5  Iris-virginica)
((6.3, 2.9),      5.1  3.5  1.4  0.2     Iris-setosa
102  6.3  2.9  5.6  1.8  Iris-virginica)
((6.3, 3.3),     5.1  3.5  1.4  0.2      Iris-setosa
55  6.3  3.3  4.7  1.6  Iris-versicolor
99  6.3  3.3  6.0  2.5   Iris-virginica)
((6.3, 3.4),      5.1  3.5  1.4  0.2     Iris-setosa
135  6.3  3.4  5.6  2.4  Iris-virginica)
((6.4, 2.7),      5.1  3.5  1.4  0.2     Iris-setosa
110  6.4  2.7  5.3  1.9  Iris-virginica)
((6.4, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
127  6.4  2.8  5.6  2.1  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica)
((6.4, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
73  6.4  2.9  4.3  1.3  Iris-versicolor)
((6.4, 3.1),      5.1  3.5  1.4  0.2     Iris-setosa
136  6.4  3.1  5.5  1.8  Iris-virginica)
((6.4, 3.2),      5.1  3.5  1.4  0.2      Iris-setosa
50   6.4  3.2  4.5  1.5  Iris-versicolor
114  6.4  3.2  5.3  2.3   Iris-virginica)
((6.5, 2.8),     5.1  3.5  1.4  0.2      Iris-setosa
53  6.5  2.8  4.6  1.5  Iris-versicolor)
((6.5, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
103  6.5  3.0  5.8  2.2  Iris-virginica
115  6.5  3.0  5.5  1.8  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica)
((6.5, 3.2),      5.1  3.5  1.4  0.2     Iris-setosa
109  6.5  3.2  5.1  2.0  Iris-virginica)
((6.6, 2.9),     5.1  3.5  1.4  0.2      Iris-setosa
57  6.6  2.9  4.6  1.3  Iris-versicolor)

((6.6, 3.0),     5.1  3.5  1.4  0.2      Iris-setosa
74  6.6  3.0  4.4  1.4  Iris-versicolor)
((6.7, 2.5),      5.1  3.5  1.4  0.2     Iris-setosa
107  6.7  2.5  5.8  1.8  Iris-virginica)
((6.7, 3.0),      5.1  3.5  1.4  0.2      Iris-setosa
76   6.7  3.0  5.0  1.7  Iris-versicolor
144  6.7  3.0  5.2  2.3   Iris-virginica)
((6.7, 3.1),      5.1  3.5  1.4  0.2      Iris-setosa
64   6.7  3.1  4.4  1.4  Iris-versicolor
85   6.7  3.1  4.7  1.5  Iris-versicolor
139  6.7  3.1  5.6  2.4   Iris-virginica)
((6.7, 3.3),      5.1  3.5  1.4  0.2     Iris-setosa
123  6.7  3.3  5.7  2.1  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica)
((6.8, 2.8),     5.1  3.5  1.4  0.2      Iris-setosa
75  6.8  2.8  4.8  1.4  Iris-versicolor)
((6.8, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
111  6.8  3.0  5.5  2.1  Iris-virginica)
((6.8, 3.2),      5.1  3.5  1.4  0.2     Iris-setosa
142  6.8  3.2  5.9  2.3  Iris-virginica)
((6.9, 3.1),      5.1  3.5  1.4  0.2      Iris-setosa
51   6.9  3.1  4.9  1.5  Iris-versicolor
138  6.9  3.1  5.4  2.1   Iris-virginica
140  6.9  3.1  5.1  2.3   Iris-virginica)
((6.9, 3.2),      5.1  3.5  1.4  0.2     Iris-setosa
119  6.9  3.2  5.7  2.3  Iris-virginica)
((7.0, 3.2),     5.1  3.5  1.4  0.2      Iris-setosa
49  7.0  3.2  4.7  1.4  Iris-versicolor)
((7.1, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
101  7.1  3.0  5.9  2.1  Iris-virginica)
((7.2, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
128  7.2  3.0  5.8  1.6  Iris-virginica)
((7.2, 3.2),      5.1  3.5  1.4  0.2     Iris-setosa
124  7.2  3.2  6.0  1.8  Iris-virginica)
((7.2, 3.6),      5.1  3.5  1.4  0.2     Iris-setosa
108  7.2  3.6  6.1  2.5  Iris-virginica)
((7.3, 2.9),      5.1  3.5  1.4  0.2     Iris-setosa
106  7.3  2.9  6.3  1.8  Iris-virginica)
((7.4, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
129  7.4  2.8  6.1  1.9  Iris-virginica)
((7.6, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
104  7.6  3.0  6.6  2.1  Iris-virginica)
((7.7, 2.6),      5.1  3.5  1.4  0.2     Iris-setosa
117  7.7  2.6  6.9  2.3  Iris-virginica)
((7.7, 2.8),      5.1  3.5  1.4  0.2     Iris-setosa
121  7.7  2.8  6.7  2.0  Iris-virginica)
((7.7, 3.0),      5.1  3.5  1.4  0.2     Iris-setosa
134  7.7  3.0  6.1  2.3  Iris-virginica)
((7.7, 3.8),      5.1  3.5  1.4  0.2     Iris-setosa
116  7.7  3.8  6.7  2.2  Iris-virginica)
((7.9, 3.8),      5.1  3.5  1.4  0.2     Iris-setosa
130  7.9  3.8  6.4  2.0  Iris-virginica)
         1.4  0.2
5.1 3.5
4.3 3.0  1.1  0.1
4.4 2.9  1.4  0.2
    3.0  1.3  0.2
    3.2  1.3  0.2
4.5 2.3  1.3  0.3
...      ...  ...
7.7 2.6  6.9  2.3
    2.8  6.7  2.0
    3.0  6.1  2.3
    3.8  6.7  2.2
7.9 3.8  6.4  2.0

[116 rows x 2 columns]

# FEATURES

In [43]:
data.multiply(2)
col_list_sum(data)

NameError: name 'col_list_sum' is not defined

# FILTERING

In [60]:
data['Iris-setosa'].str.startswith('I').sum()
data['Iris-setosa'].str.endswith('a').sum()
data['Iris-setosa'].str.contains('f').sum()
data['5.1'].isin([1.2, 1.3, 1.5, 4.9]).sum()  # check if a value is in series from the given list
data['Iris-setosa'].isna().sum()  # check for null values
data['Iris-setosa'].notna().sum()  # check for non-null values

149

In [78]:
# converting categorical data to numerical values
pd.get_dummies(data)  
data.values

array([[4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Iris-setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Iris-setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Iris-setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Iris-setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Iris-setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Iris-setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Iris-setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Iris-setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Iris-setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Iris-setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Iris-setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Iris-setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Iris-setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Iris-setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Iris-setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Iris-setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Iris-setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Iris-setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Iris-setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Iris-setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Iris-setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Iris-setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Iris-setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Iris-setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Iris-setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Iris-setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Iris-setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Iris-setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Iris-setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Iris-versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Iris-versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Iris-versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Iris-versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Iris-versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Iris-versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Iris-versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Iris-versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Iris-versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Iris-versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Iris-versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Iris-versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Iris-versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Iris-versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Iris-versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Iris-versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Iris-versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Iris-versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Iris-versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Iris-versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Iris-versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Iris-versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Iris-versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Iris-versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Iris-versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Iris-versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Iris-versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Iris-versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Iris-versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Iris-versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Iris-versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Iris-versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Iris-versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Iris-versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Iris-versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Iris-versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Iris-versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Iris-versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Iris-versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Iris-versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Iris-versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Iris-versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Iris-versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Iris-versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Iris-virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']], dtype=object)